include README.md
include LICENSE
include license
include CHANGES.md
include pyproject.toml
include invenio_subjects_cessda/__init__.py
include invenio_subjects_cessda/vocabularies/__init__.py
recursive-include invenio_subjects_cessda/vocabularies *.yaml *.json *.md
